<div>
<<<<<<< HEAD
   <div>
    <jce-user-form (userAddedEvent) = "addUser($event)"></jce-user-form>
  </div>

=======
<jce-user-form (userAddedEvent) = "addUser($event)"></jce-user-form>
>>>>>>> 88c0e6b5d7baee815ab72670d0bd28dbd8b32b9e
<jce-spinner [visible]= "isLoading" ></jce-spinner>
  <ul  class="list-group users">
      <li *ngFor="let user of users" class="list-group-item"  [class.active]="currentUser == user" (click)="select(user)">
      <jce-user [user] = 'user' (deleteEvent)="deleteUser($event)"></jce-user>
      </li>
  </ul>
</div>
<<<<<<< HEAD
 
=======
>>>>>>> 88c0e6b5d7baee815ab72670d0bd28dbd8b32b9e
