<h2>Add Post</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text"
            class="form-control"
            id="title"
            name="title"
            required
            [(ngModel)] = "post.title">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea cols="100"
              rows="10"
              style="resize:none"
            type="text"
            class="form-control"
            id="content"
            name="content"
            [(ngModel)] = "post.body"></textarea>      
  </div>
  <button type="submit" class="btn btn-primary" >Add Post</button>
</form>