<div class="container">
  <h1>
    {{title}}
  </h1>
<<<<<<< HEAD
<nav>
  <a  routerLink = "/users">users</a>
  <a  routerLink = "/posts">posts</a>
</nav>
<router-outlet></router-outlet>
</div>
=======
<<<<<<< HEAD
<nav>
  <a routerLink = "/users">users</a>
  <a routerLink = "/posts">posts</a>
</nav>
<router-outlet></router-outlet>
</div>
=======
  
  <jce-posts>Loading...</jce-posts>

</div>
>>>>>>> 39367f1e5ec07b3bb5f588b7b0b2e71cedd23237
>>>>>>> 88c0e6b5d7baee815ab72670d0bd28dbd8b32b9e
