<div>
  <div>
    <jce-post-form (postAddedEvent) = "addPost($event)"></jce-post-form>
  </div>

  <jce-spinner [visible]= "isLoading" ></jce-spinner>
  <div *ngFor="let post of posts">
    <jce-post [post] = 'post'  (deleteEvent)="deletePost($event)"></jce-post>
  </div>
</div>